{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Integer Vitae Tellus</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="{% static 'integervitaetellus/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="top">
      <div class="bar">
        <div>
          {% if user.is_authenticated %}
            <span class="loginBar">Welcome {{ user.username }}!</a> <a href="{% url 'logout' %}" class="nav-button">Logout</a><a href="{% url 'users:profile' user.username %}" class="nav-button">Profile</a><span>
          {% else %}
            <span class="loginBar">Welcome, visitor! You are not logged in. <a href="{% url 'login' %}" class="nav-button">Login</a> <a href="{% url 'users:signup' %}" class="nav-button">Sign Up</a></span>
          {% endif %}
          <a href="{% url 'recipes:home' %}#contact" class="nav-button">CONTACT</a>
          <a href="{% url 'recipes:home' %}#about" class="nav-button">ABOUT</a>
          <a href="{% url 'recipes:list' %}" class="nav-button">RECIPES</a>
          <a href="{% url 'recipes:home' %}" class="nav-button">HOME</a>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock content %}

<!-- Footer -->
    <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
      <p>© 2021 Andazant</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
    <script src="{% static 'integervitaetellus/main.js' %}"></script>
  </body>
</html>