{% extends 'base.html' %}

{% block content %}


    <div class="recipe-entry w3-container w3-black w3-padding-64 w3-large">
        <img src="{{ recipe.my_image.url|linebreaksbr }}">
        <h1>{{ recipe.title|linebreaksbr }}</h1>
        <h4><em>Posted on {{ recipe.created }}</em></h4>
        <h4><em><a href="{% url 'users:profile' recipe.author.username %}">{{ recipe.author.username }}</a></em></h4>
        <p>Ingredients: {{ recipe.ingredients|linebreaksbr }}</p>
        <p>Instructions: {{ recipe.instructions|linebreaksbr }}</p>
        <p>Source: {{ recipe.source|linebreaksbr }}</p>
    </div>

<!--
    <div class="w3-container w3-black w3-padding-64 w3-xxlarge menu" id="menu">
        <div v-for="recipe in recipesList" :key="recipe.id" class="w3-content">
            <h1 class="w3-center w3-jumbo">[[ recipe.title ]]</h1>
            <div class="w3-center w3-large">
                <p><a :href="'/user/' + recipe.author_detail.username">[[ recipe.author_detail.username ]]</a></p>
                <p>[[ recipe.created ]]</p>
            </div>
            <div class="w3-row w3-center w3-border w3-border-dark-grey">
                <img v-if="recipe.my_image" :src="[[ recipe.my_image ]]">
                <p>Ingredients: [[ recipe.ingredients ]]</p>
                <p>Instructions: [[ recipe.instructions ]]</p>
                <p>Source: [[ recipe.source ]]</p>
            </div>
        </div>
    </div>
-->

    {% if user.is_authenticated %}
        <form action="{% url 'recipes:edit' recipe.pk %}">
            {% csrf_token %}
            <input type='submit' value="Edit Recipe">
        </form>
        <form action="{% url 'recipes:delete' recipe.pk %}">
            {% csrf_token %}
            <input type='submit' value="Delete Recipe">
        </form>
    {% endif %}

{% endblock content %}