html {
    display: block;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body, html {
    display: block;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Amatic SC", sans-serif;
    font-size: 15px;
    background-color: white;
    color: black;
}

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
}

.bar {
    color: #fff!important;
    background-color: #000!important;
    font-size: 24px!important;
    width:100%;
    overflow: hidden;
    box-sizing: inherit;
    display: block;
    width: auto;
    opacity: 80%;
}

a:hover {
    text-decoration: underline;
}

.nav-button {
    user-select: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: inherit;
}

.nav-button a:active, a:hover {
    outline-width: 0;
}

.nav-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}


.bar:hover {
    opacity: 1;
}


.loginBar {
    text-align: right;
    font-weight: bold;
    margin-left: 20px;
}

.loginBar a {
    float: right;
    font-weight: lighter;
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/static/integervitaetellus/images/bgimg.jpg');
    min-height: 70%;
}

#page-title-large {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 4px 4px black;
}

#page-title-small {
    font-size: 60px;
    font-weight: bold;
    text-shadow: 4px 4px black;
}

.searchbar {
    display: block;
    align-self: center;
}

.recipe-list img {
    display: block;
    border-radius: 25px;
    max-width: 50%;
    height: auto;   
}

.menu img {
    border-radius: 25px;
    max-width: 50%;
    height: auto;
}

.profile img {
    border-radius: 25px;
    max-width: 50%;
    height: auto;
}

.recipe img {
    border-radius: 25px;
    max-width: 50%;
    height: auto;
}

